<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="hibernate.connection.password">root</property>
    	<property name="hibernate.connection.url">jdbc:mysql://localhost/simbora</property>
    	<property name="hibernate.connection.username">root</property>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="hibernate.show_sql">true</property>
    	<property name="hibernate.format_sql">false</property>
    	<property name="hbm2ddl.auto">update</property>
    	<!-- Mapeamento -->
		<mapping class="com.br.uepb.domain.UsuarioDomain" />
		<mapping class="com.br.uepb.domain.CaronaDomain" />
		<mapping class="com.br.uepb.domain.SolicitacaoPontoDeEncontroDomain" />
		<mapping class="com.br.uepb.domain.PontoDeEncontroDomain" />
		<mapping class="com.br.uepb.domain.SolicitacaoVagasDomain" />
		<mapping class="com.br.uepb.domain.CaronaInteresseDomain" />
		<mapping class="com.br.uepb.domain.CaronaRelampagoDomain" />
		<mapping class="com.br.uepb.domain.CaronaMunicipalDomain" />
		<mapping class="com.br.uepb.domain.ReviewDomain" />
		<mapping class="com.br.uepb.domain.ReviewVagasCaronaDomain" />
		<mapping class="com.br.uepb.domain.ReviewCaronasDomain" />
		
    </session-factory>
</hibernate-configuration>
